.logo-cont {
    position: relative;
    width: 505px;
    height: 600px;
    left: 0px;
    top: 0px;
    background-color: #263247
}
.logo-vect {
    position: absolute;
    left: 5px;
    top: 162px;
    width: 494.86px;
    height: 278px;
    background-image: url('../assets/img/logo-Vector.png')
}
.epik-vect_top {
    position: absolute;
    left: 41px;
    top: 36px;
    width: 95px;
    height: 44.85px;
    background-image: url('../assets/img/epik-Vector.png')
}
.epik-vect_bottom {
    position: absolute;
    left: 272.14px;
    top: 534px;
    width: 62.13px;
    height: 28.88px;
    background-image: url('../assets/img/epikSc-Vector.png')
}
.powered {
    position: absolute;
    left: 187px;
    top: 541px;
    font-family: 'Maven Pro', sans-serif; /* Linkeada de Google Fonts*/
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: #fff;
}
.form-cont {
    position: relative;
    width: 519px;
    height: 600px;
    left: 505px;
    top: -600px;
}
.logo-form {
    position: absolute;
    top: 85px;
    left: 191px;
    width: 109.19px;
    height: 119px;
    background-image: url('../assets/img/img-Login.png');
}
.group {
    position:absolute;
    width: 301px;
    height: 154px;
    top: 318px;
    right: 141px;
    display:block;
}
.group-2 {
    position: relative;
    top: 28px;
}
input {
    font-family: 'Maven Pro', sans-serif; /* Linkeada de Google Fonts*/
    font-size: 15px;
    color: #535861;
    padding-left: 15px;
    position: relative;
    width: 301px;
    height: 42px;
    border-radius: 12px;
    border: 1.3px solid #c2c9d3;
    background: #fff;
}
input:focus {
    outline: none;
    border-top: none;    
}
input:valid {
    border-top: none;
}
input:focus~.anim,
input:valid~.anim {
    position: absolute;
    top: -10px;
    font-size: 15px;
    color: #1A85C6;
}
.anim {
    position: absolute;
    top: 12px;
    padding-left: 15px;
    font-family: 'Maven Pro', sans-serif; /* Linkeada de Google Fonts*/
    font-style: normal;
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: -0.028px;
    color: #263247;
    transition: 0.5s ease all;
    pointer-events: none;
}
.login-button:disabled {
    border-radius: 24px;
    background: #ffffff;
}
.login-button {
    position: absolute;
    width: 222px;
    height: 40px;
    top: 475px;
    right: 163px;
    border-radius: 24px;
    background: #c2c9d3;
    font-family: 'Maven Pro', sans-serif; /* Linkeada de Google Fonts*/
    font-style: normal;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: -0.028px;
    color: #263247; 
}
.login-button:focus {
    outline: none;
}
.login-b {
    position:absolute;
    width: 219px;
    height: 25px;
    top: 215px;
    right: 166px;
    text-align: center;
    line-height: 25px;
}
.login {
    font-family: 'Maven Pro', sans-serif; /* Linkeada de Google Fonts*/
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    color: #263247;
}
.msg-b {
    position:absolute;
    width: 327px;
    height: 46px;
    top: 251px;
    right: 103px;
    text-align: center;
    line-height: 24px;
}
.msg {
    font-family: 'Maven Pro', sans-serif; /* Linkeada de Google Fonts*/
    font-style: normal;
    font-size: 16px;
    color: #263247;
}
td {
    width: 200px;
    font-family: 'Maven Pro', sans-serif; /* Linkeada de Google Fonts*/
    font-style: normal;
    font-size: 10px;
    color: #263247;
    text-align: center;    
    border: 1px solid #000;
}